<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Cargar el directorio de la aplicación -->
    {% load static %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TFM Bioinformática</title>

    <!-- Iconos -->
    <link rel="icon" type="image/x-icon" href="{% static 'proyecto_web_python_app/assets/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Estilo CSS -->
    <link href="{% static 'proyecto_web_python_app/css/styles.css' %}" rel="stylesheet" />

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <style>
        .box {
            width: 25%;
            height: auto;
            margin: auto;
            padding: 5px;
        }

        .info {
            background: rgb(41, 41, 40);
            border: 1px solid white;
        }

        .features-icons {
            padding-top: 1rem;
            padding-bottom: 7rem;
        }

        .features-icons .features-icons-item {
            max-width: 20rem;
        }

        .features-icons .features-icons-item .features-icons-icon {
            height: 7rem;
        }

        .features-icons .features-icons-item .features-icons-icon i {
            font-size: 4.5rem;
        }
    </style>

</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img style="width: 50px; height: 50px"
                src="{% static 'proyecto_web_python_app/assets/favicon.ico' %}"></img>
            <a class="navbar-brand" style="padding-left: 10px;" href="{% url 'Inicio' %}">Máster Oficial en
                Bioinformática ~ Servicio de
                Hematología Hospital Virgen de la Arrixaca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active{% endif %}"
                            aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/donaciones' %} active{% endif %}"
                            href="{% url 'Donaciones' %}">Donaciones</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/consultas' %} active{% endif %}"
                            href="{% url 'Consultas' %}">Consultas</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/documentos' %} active{% endif %}"
                            href="{% url 'Documentos' %}">Documentos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido cambiante -->
    {% block content %}

    {% endblock %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; TFM Francisco Herrera González - Universidad de
                Murcia 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'proyecto_web_python_app/js/scripts.js' %}"></script>
</body>

</html>